{
  "rules": {
    "no-console": "off",
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "no-use-before-define": ["error", { "variables": false }],
    "no-multi-str": 0,
    "quotes": ["error", "single"],
    "eqeqeq": ["error"],
    "semi": ["error", "never"]
  },
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": ["standard", "prettier/standard"],
  "plugins": ["standard"]
}
