files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name mercury-api.xcllusive.com.au;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFXDCCBESgAwIBAgISBFohWIEMbocnFeun+4KQz0CXMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xOTAyMjgyMzQ5MzNaFw0x
      OTA1MjkyMzQ5MzNaMB0xGzAZBgNVBAMMEioueGNsbHVzaXZlLmNvbS5hdTCCASIw
      DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALpETH697G9ikxnrAPEvD4viQjHn
      S+gx45IjHdPTMikNC5chIn28F1Aw5wDTIH16z73TD0YuVvoBE40G39b+ZieAOUAG
      9n3mhxmBQfev2San8kyB8yYEt2cGgPkOZUXI0Cc1i97BGFB4RJkVZuI8SgOEBVQN
      pe/Fr5rz+nx/soARrbXOnGfyJC7PxQgJuaUDjdEQixByoxNIKBvoimcdsdJztYZM
      j1BGf52PysO68w5MDmLJm08n9E8Dr1U5PKV+RnqzXRh66tABJQu10zjScnwSXFQI
      t27QDlAzrCpA2YQgkXF/Xh7wH9UICpR1wGAeylmQDRmmpSW3RPkqsK/GESsCAwEA
      AaOCAmcwggJjMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
      KwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUHaeAR0hXNFqCUF5RlLc9
      oYO26skwHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUH
      AQEEYzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5
      cHQub3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5
      cHQub3JnLzAdBgNVHREEFjAUghIqLnhjbGx1c2l2ZS5jb20uYXUwTAYDVR0gBEUw
      QzAIBgZngQwBAgEwNwYLKwYBBAGC3xMBAQEwKDAmBggrBgEFBQcCARYaaHR0cDov
      L2Nwcy5sZXRzZW5jcnlwdC5vcmcwggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdwDi
      aUuuJujpQAnohhu2O4PUPuf+dIj7pI8okwGd3fHb/gAAAWk2uk8dAAAEAwBIMEYC
      IQD6eV3qpSz6e+l925q99yRoYZPpQTrEUeSAkb5ESX0YlgIhAKdL8ienmbJw1T14
      uiuVe0cxtvE3i9ygT1P1LoW65uePAHUAY/Lbzeg7zCzPC3KEJ1drM6SNYXePvXWm
      OLHHaFRL2I0AAAFpNrpPEwAABAMARjBEAiAKhkqOr9WLARnRPXqtIzy4ij1BByzZ
      o8UR6O920ScdrgIgJlWjLUumTMBYc/pSRjvtFuSuLI80m8hqFgMvkNRc8PwwDQYJ
      KoZIhvcNAQELBQADggEBAHD1HA7As8EHVhzBzXS9JqGagYvDUx9ym5RJwQ0NnWU5
      ZvvU4b1rGLbpxXMG6GuUewPTXP+6gVeTAy5z4dwqoTmmqXOQ8QT2kvxV4bSsjRxP
      TDQGkoOJFS9VZK/LxnJfWFwWQM3EbYXUp3+029eXDbR0p/eR/R9xVC/6CbJR96A1
      +ViAFBIJFTFS4rnq054TdYrwUq0QaKdEn7fts/qQ4MHt5hF6+WjavBla4iCjzpBf
      lWm8JOc4R9E/TBSKALDi6upoST7/yIS5bMQjNnlRedjAcJ3NRGrP8iizdU6lf4wk
      t9zrd2lvctAfv2Y2qdci2UwxmD0m2gvL7z1Do7auV9Q=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC6REx+vexvYpMZ
      6wDxLw+L4kIx50voMeOSIx3T0zIpDQuXISJ9vBdQMOcA0yB9es+90w9GLlb6ARON
      Bt/W/mYngDlABvZ95ocZgUH3r9kmp/JMgfMmBLdnBoD5DmVFyNAnNYvewRhQeESZ
      FWbiPEoDhAVUDaXvxa+a8/p8f7KAEa21zpxn8iQuz8UICbmlA43REIsQcqMTSCgb
      6IpnHbHSc7WGTI9QRn+dj8rDuvMOTA5iyZtPJ/RPA69VOTylfkZ6s10YeurQASUL
      tdM40nJ8ElxUCLdu0A5QM6wqQNmEIJFxf14e8B/VCAqUdcBgHspZkA0ZpqUlt0T5
      KrCvxhErAgMBAAECggEAfYblnkxT+ESQKdlLyz4R1g1m2sarSxHD8Yok4cnkdfHK
      q9Cys9V8SJiMNOwTazzGn4CLPJqiFt1+1X2agAL1yQ0Kh/GpT/N5fGC1mjwxtXFd
      Qt4YhLiM+KtTY4SmDz9jt+jIGBg9UI2cfSYFLdW/c1sXVCvWdh3dWCmv1xMfsloQ
      xoOSSJ3lDxyuLpjNkgqpS7Rk57Cbd2nTi+u0ce9+iTEY/H5Pu2YYtBR16nrBGxpG
      tHwk0RSvq5SEP9roRSc3DoR1T0Q8txHIPhT3v8QJ9MV1nnAptoaVlWYzYpUnCP5E
      irH647PuiYcx4X7zqgOWh+sWTBHU8d5YZtDDsHSgMQKBgQDnqCMxs7BXZbEIuG84
      kNCzQQ5B73pF65qLxc0lAO1o5dnxt8+TAoyZEs3gWhQRUjxmF3zjUK2NjK+r3/2v
      vxsRZNsUrmSqX4FvWraNY8y4BnsLpQSS9MFgYDKO5IBf/He8CHmKmy43h4hMAFz8
      V+6TwDh1eysge2CgwmAbm0kYjQKBgQDN1xzYlu041a0ntZELLU6TWM5/c4wa8BKK
      yV2BuNgqo+q/+7/6YYQKZaGSgBdhCLoO/SMj2EKXE1wMVfLx7eoEThtP/Glk5vv2
      qELKCrKNiICFlNde8i2tcGrJxx9Z26byXPCx/ZpRNSICh83BNZnajm+KmAZPlaBk
      ZscuyoxulwKBgCX0xJ92I6SOQu182qxX/foA5Mck59HhApd4N16iwkN3tbgHN/mM
      Z2EFVbo2yCb2ZHMN0iakp2sT7AyrTLOpClRVRBglYtUPhPOr11FfUsGsPijwRsmV
      VMHnwSDsi6Quh6fFc7SkLHRovopFXPbzqWGIEzgckDpoPLLaZkjfrqBZAoGANUcf
      dUQjZJmR9vw87Zqtgt/ymvSKaBKJihiytjfk46yHv2dm+mSxK4vAtU2oP3plxilp
      Jgb8vWPKaHr6pfoBn1mkIiDgGrjasK4+k1MPgii5s1miITYn8oNtcIq0p6p93K+H
      sVpFzg0ln2gNLpw0FWjWoBXXVFQTLsmXdpoAnUMCgYEApESRgbY6QJzzS/ZGOSBO
      3zp2Eg30jTkAjIIKfMDTTrIjgDjarWHgZD2N8/ohLYMjwMbeQ0tG+CrkopFZz/HG
      wnWlmabf2C8DDbZB3czgdO6zVY68Btxp26nuXRrpT496qqq4Y8nrVemacLyxEfRm
      eSMTSJ7nLSV9Wr86GryJQ/0=
      -----END PRIVATE KEY-----
