files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name mercury-api.xcllusive.com.au;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFXDCCBESgAwIBAgISA0bmhjBK2VWhfpxcrrHmyGzgMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODEyMjAxMjE0MDdaFw0x
      OTAzMjAxMjE0MDdaMB0xGzAZBgNVBAMMEioueGNsbHVzaXZlLmNvbS5hdTCCASIw
      DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMH93oOklC8wIE8fSTXPUUPbn8KZ
      SBSwNhQuhcU+851xfEksuMX1XmQhwR+eseX51BGVjOFI6H3BM/HGvwGi7+B+3snS
      HemT1lfdRSwTaGCUheTbfCyk1Qw1uadC3M3+lKaNrb0kLXfCtLr2RW2be464kZnw
      xNkbqoZSi+k9PMG4AxtgjZ+x12fqYAs/uR9Q7SZLNsXE/L12Ar1bMSD45ttT1r4C
      t1sSynsUmthVl62D8un3XqXGZ8I/+SONTEdsQBe1C1LCet2cTh2NZt8irnyDteN7
      zXaYx/mbadKz+X1I7STYv9vuXBAqOUwsgJAMAs88VhhjAajMHunEcw9EOw8CAwEA
      AaOCAmcwggJjMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
      KwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUT/FCRBO2QevQfEcH7UAO
      LS94vlAwHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUH
      AQEEYzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5
      cHQub3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5
      cHQub3JnLzAdBgNVHREEFjAUghIqLnhjbGx1c2l2ZS5jb20uYXUwTAYDVR0gBEUw
      QzAIBgZngQwBAgEwNwYLKwYBBAGC3xMBAQEwKDAmBggrBgEFBQcCARYaaHR0cDov
      L2Nwcy5sZXRzZW5jcnlwdC5vcmcwggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdQB0
      ftqDMa0zEJEhnM4lT0Jwwr/9XkIgCMY3NXnmEHvMVgAAAWfLwHoTAAAEAwBGMEQC
      IGFdvYJ7HZnJUlHLbiIgXnkDF+nQtuhxfOIwh6+rOV5yAiA9eY7dBn/zrth8iXVX
      EYvTuY4WYn1YBuvWEuvN3FJMRgB3ACk8UZZUyDlluqpQ/FgH1Ldvv1h6KXLcpMMM
      9OVFR/R4AAABZ8vAeRUAAAQDAEgwRgIhAP6b9XZw3eg1c1bquM+spIyhrpFzNCCt
      s0+Avmrvp+g5AiEApvnmREwg0C+F4u792ZejUavY7r9KvPeYndQDHIrGP9gwDQYJ
      KoZIhvcNAQELBQADggEBADoMtxnNj1T7ezagHx7Eezt4VH3tRzfcJsy0fprEpifQ
      WuWIH21NjboSEafHyyKYUPn8rAGhzvR2i8uSabv7YUUUyZzsT/jrdj7JNgP2ZE4q
      EG+aiCkp+rIEvgDp7JI61Lf1JSaao2nZd+/7vLJ64K6d90vz18Oa9VZKLhuxNWxx
      L2BxJ1usCCVjyR4R6XViGxpjluPOsbflaadtbJv0FKREYOw4zaBRGIn9/7B0P0xG
      fzYRiPHMEUV8U39x8xTFJ7tBByWeDe9uhlmJz6kqT81XI8FjRvpac58k/xnrFLXc
      Wfj1CMm6Ymk4HDAIigeOTu0UUnQPmvlDynOXwitezAM=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDB/d6DpJQvMCBP
      H0k1z1FD25/CmUgUsDYULoXFPvOdcXxJLLjF9V5kIcEfnrHl+dQRlYzhSOh9wTPx
      xr8Bou/gft7J0h3pk9ZX3UUsE2hglIXk23wspNUMNbmnQtzN/pSmja29JC13wrS6
      9kVtm3uOuJGZ8MTZG6qGUovpPTzBuAMbYI2fsddn6mALP7kfUO0mSzbFxPy9dgK9
      WzEg+ObbU9a+ArdbEsp7FJrYVZetg/Lp916lxmfCP/kjjUxHbEAXtQtSwnrdnE4d
      jWbfIq58g7Xje812mMf5m2nSs/l9SO0k2L/b7lwQKjlMLICQDALPPFYYYwGozB7p
      xHMPRDsPAgMBAAECggEAc5njVbNnks8tEbllGSnYFYX1KDPLnnh7YX9vu+ENr48H
      L1v1KBJWE3mB6mPZQ2CjHW9vKnkWAop1d+ilvkXoiHFSNhZ+OMkee/Gh3Ogb1SHs
      wDqDPt9jDgmd/qx7hE3nK3FWTVYXujxPEvLa4Lw83wnhykiOJYq1DaJ3OaCCajVB
      O9ruXxGlJ32Wh8tNz+hzJiSJeGJ4IKNWh+R8rapSNOdqpNb3gmZznPnYPfEgU4sl
      IIT6Kcuy8YJnjwMrCWVf0Ju6CKqHJoB1oXbju4mIjIeXDHt29jJHIPODeDcL6c3b
      BnKL07C2PyKsEKnN2q+8whaM3UCEIA+939+iks7PAQKBgQDxqX8k7W5BYwVi/myh
      BWOmbi/fSgMpW3jd3A40/ErpFYWp9pFGJlLJV29zyLgfR3x6r8dlNgA4M91M/yrV
      LW1O4PxM2IMlrRbbZiwn2SCdfZtCkZW+3eB6Se5upv8uT/Er3n/I1I5e8l39/HFy
      lF6XXs9LH0OhyAlzDHmMiZJGzwKBgQDNgFOip+guZyZDZxagaWKassKMxQ5LFVnZ
      xxLuDImZP/ehwiYzil89MzyNdwtiG2kEY5nzmPrexvkC8pZ/q/yZyG4GkS+xlRqq
      dfUROi2DNcko11sKqm/FHFqU6gIkYq0OgQ6hEIxn8CfZl+24uahqUBaF/G4rhpci
      Hp+JOmvXwQKBgQDjOsQhvdtZQjmTbrZH5eBgYuVCqL42ShtpSXxWWBA8AI+xU/Yf
      pvNa/IsArPBsAPTMC7KKuW8VabchqiDlWBSbAbRasY8Hgyyl2fmU8nXXgH7X5jqO
      wORNOG0owH/bVTHpVQqElVDVeEHnC1LFMTuMS4rRETGv0n8IHefAvK69QwKBgCRd
      Oe+FgMt9S0MQIeve2ij/yvd4A1B8BbtIw+vF4i9xJ1PDdFkYekPtJiDuWOBSc2Ho
      chyuDG6RjQzdeo47E+bulbGpzWPCO8bAOs6Cmf0m7mLAwQaBJGgf3VOOmTRxFaiE
      Y99Se1YFJDgX72QJzmiJpYKuKZygI2xROO/im6TBAoGBAN/qDseEzod5SXQ0hvIf
      DGcCf6cjwL4b+vtlKQxiKjcGS63ySSdl2NtURKFdtPj4ywtKmJqhOz45dbGpt2+y
      duSxcVW+EpwqDnCVnMm9sNF/aubKxoBgOSgzYlPmZ7tvXwppb/i6ihhRn9C/xzKc
      qQIYFqfviuMzV+9yh8OlkPgJ
      -----END PRIVATE KEY-----
