files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name mercury-api.xcllusive.com.au;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFXjCCBEagAwIBAgISA2jAG2oexK3/z13ae8oVajtmMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xOTA4MjcxMjI3MDhaFw0x
      OTExMjUxMjI3MDhaMB0xGzAZBgNVBAMMEioueGNsbHVzaXZlLmNvbS5hdTCCASIw
      DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMU5EgpPEoFnUECkC5tuWDCVHJvs
      OgsYsgnEKAEpe/bHhNk6sQpMLe9juhGOY7A8NquSH9UYNwSU6bPwEaIsZuh9nuPp
      pHpNnDfvqoT7frWxayzBQkdij1gKva+IYGi32lhKx8M1m8VqJnGcl5hTzLFdle2b
      Rc6XPxF80I48u/9uT+dfA6W5FOZ5MR0WD7VwlbqcbUnNCug1pn+ucnkLkWs7S2uF
      jgHA98w5fUKSA1Lztyb9OuV+hZvbi/jpvvBb08IxptM1TytuFX82wfJiHzQqO0b6
      ozL9qYEmN4acwShfsGmO6e59AnXg4TI9rjXImd1gtw2tpP8qsypBgdZ6vCUCAwEA
      AaOCAmkwggJlMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
      KwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUh1MdSdq8wp60xaW/GmJd
      Nh0Yu3AwHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3pkVl7/Oo7KEwbwYIKwYBBQUH
      AQEEYzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2NzcC5pbnQteDMubGV0c2VuY3J5
      cHQub3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2VydC5pbnQteDMubGV0c2VuY3J5
      cHQub3JnLzAdBgNVHREEFjAUghIqLnhjbGx1c2l2ZS5jb20uYXUwTAYDVR0gBEUw
      QzAIBgZngQwBAgEwNwYLKwYBBAGC3xMBAQEwKDAmBggrBgEFBQcCARYaaHR0cDov
      L2Nwcy5sZXRzZW5jcnlwdC5vcmcwggEGBgorBgEEAdZ5AgQCBIH3BIH0APIAdwAp
      PFGWVMg5ZbqqUPxYB9S3b79Yeily3KTDDPTlRUf0eAAAAWzTQjjOAAAEAwBIMEYC
      IQCEbmvo5BG3VTqGP+0C7ZLRMlC7HKCGNnr2iZMZ+THnKgIhAPhOdSbX5cHH8Bwi
      QdzKDc5OF5zs25KX97HWGpaf2kdzAHcAdH7agzGtMxCRIZzOJU9CcMK//V5CIAjG
      NzV55hB7zFYAAAFs00I61AAABAMASDBGAiEA1SOxzkX9b4WvMO2h9XU8/AKYPrF3
      GlXv0jSymDkAqj8CIQCNLZttYakibfUkafRBfKSluG0QBTwqKHsFs88w8Z5zETAN
      BgkqhkiG9w0BAQsFAAOCAQEAA4mWUiX2C/Fkog07FcVGljYvfyw2TAMuvO5MM0Cv
      mwTvTFR0V8/uT36DC1EPsOnSZhv/Z2YQlvYjc8SxOA+WC9ESAFIW6zl72W0Abzcc
      qQri1HfA7V6KUi4aOcL1jl3rrB4I0Oo7NaRfuqRZQNSMF1uSIoqLroJ4EoyAZQkx
      hTAZZHuXptKLXMu/LyBFYMqFluTTXVgjtJIyRNpv/f58GH/o+4nWgGiNNz7KOamm
      C2YyeybAoWE9XW0J6/yTU5z9wDlFy7SX4lQ1Yo7tVq3yhg2E0RI+8HJF9bJPrvFz
      j+AoSbR8UlblBAAlzgQ/ULcKIrFv7Xsvprdp/jq/767xMA==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDFORIKTxKBZ1BA
      pAubblgwlRyb7DoLGLIJxCgBKXv2x4TZOrEKTC3vY7oRjmOwPDarkh/VGDcElOmz
      8BGiLGbofZ7j6aR6TZw376qE+361sWsswUJHYo9YCr2viGBot9pYSsfDNZvFaiZx
      nJeYU8yxXZXtm0XOlz8RfNCOPLv/bk/nXwOluRTmeTEdFg+1cJW6nG1JzQroNaZ/
      rnJ5C5FrO0trhY4BwPfMOX1CkgNS87cm/TrlfoWb24v46b7wW9PCMabTNU8rbhV/
      NsHyYh80KjtG+qMy/amBJjeGnMEoX7BpjunufQJ14OEyPa41yJndYLcNraT/KrMq
      QYHWerwlAgMBAAECggEAXf8kRPuIw1n9GsHUsmC18Xmv5/R/eXhsqlDuDBe8eFKB
      U5Mwe8rw/a5XKTTm+EDKgZ0kRMjEuA9NDzB1BwkIhvgQOWnKtWu178bvS3Ad5PTJ
      MsxtDV7BGOINo9JouKAflYMWkEhFlKJR7kYGzlfqMAJ9iYA+lgbpzSjisVfq9gLC
      YlHa0qHGvoTHZCUhWKM4wnT3DWJuuiq280daRzpruN10WnaLGS7kFvLEz8fIMHg6
      8oqrPFuRcheVnVx3L7ii8nk5FXKl7faED1JxKn3m3X78+z1WyrLYvDiptPpwi8X1
      VHts0uwVOo8W4s3p/vDZuzTIyBkHbwjggYZwQrEr4QKBgQD/swlrxjZm9N5yUDf3
      /NynX3Gf57se6dYHxfqthPjsn5YB05o/7dFrWs08y5LJMdSE8NNHwBjbflM4aydG
      ddnHNgC1o+76F6+Md6VHS29JxZsmnltMhPzPjRDYhUpwL61TCj6iF+KEOZYok8uU
      drTIZM8Pbl+F06E765YLeaNRzQKBgQDFdG7Lac/bhNksqtmjY8thqteVtIquCSGT
      akGtaPDtErYN9/wLcGC1J1D+fcMPm1gpo/fK4RXrcJLPtuLdWkIqF9LsCDkqpErV
      RPwHy3xI6Mk8Man8H10/sGPW7lasF5VEsNUVxDiEhlTStzUPE5QpO4muI5bOoMst
      Jne3CSQbuQKBgQCZClZ0LAF5o8vUDZFCGxUSFD0UoQTNHtXcdzFvU6wNLAMDetvS
      sYtrPsCiR5HGW82/98ftJNt72+MBXJj4QicjZX4NOV4aT7zhTOcegdbNB7mx5ovs
      g5gwvVS80yJXfSG3FuWf7L3FuBXYmYT6igXv/u4zZTNFDQJus7VtjtMibQKBgQDB
      9C/MwYA6WhFVrfEgbKtfoYgodnJup2uCuTIQW2+k/+cya2/58IYeC6Okh/YuA2Kj
      bHu/nj+AyFB9lmDcG4e4fzRhQ2ab+0vCmAOUyI2ptHfPF92oWUqof+RiQDWEz5mB
      Is38loUJsEXrwahtycaUhfYkxrKg/xL0o7+eXG1KiQKBgQCJfRYlJivv+kt8EroC
      DfMgisF15o3Rz1aFYufOIQfcNcqbZMYtho8bMWIOfY5Pa9zGRXyS3DAWBV+eTBM9
      h0Eu6qRETPHVFA4Ch4RNgO37S5qzyWjOb/8Rym5Zpzsry8tAFfjGa1KP8X+k4BEE
      V0xeH7RE9EQCDRDeNttLbO1VzQ==
      -----END PRIVATE KEY-----
